.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: lightgrey;
    text-align: center;
    padding: 1.5rem;
    margin-top: 5.5rem;
}
.city i {
    font-size: 1.5rem;
}
