header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    margin-top: 0;
    background-color: white;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 15%);
    padding: 1.3rem;
    margin: 0rem 0 100px 0;
}