header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin-top: 0;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 15%);
    padding: 0.3rem;
    margin: 0rem;
}