@use "../utils/variable.scss";
@use "../utils/colors.scss";
@use "../utils/mixins";


#homepage {
    .menus {
        background-color: #f6f6f6;
        margin-bottom: 2rem;
    
        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-wrap: 1 ;
            gap: 1rem;
            @media (max-width:variable.$breakpoint) {
              grid-template-columns: repeat(1, 1fr);
            }
            .new {
                position: relative;
            }
            .new::before {
                content: "nouveau";
                position: absolute;
                height: 2rem;
                width: 5rem;
                background-color: colors.$color-tertiary;
                display: grid;
                place-items: center;
                right: 1rem;
                top: 1rem;
            }
        }
        .card {
           & .card__image {
                height: 15rem;
                border-radius: 1rem 1rem 0 0;
                background-size: cover;
            }
            @for $i from 1 through 4 {
                &__image-#{$i} {
                    background-image: url("./image/menu#{$i}.jpg");
                }
            }
             &__description {
                @include mixins.heart-animated;
    
                h3,
                p {
                  padding: 0.3rem;
                }
                i {
                    font-size: 2rem;
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%); 
                }
                .fas {
                     color: transparent;
                     background-clip: text;
                     -webkit-background-clip: text;
                     opacity: 0;
                     transition: all 200ms ease-in-out;
                     @include mixins.gradient(1);
                } 
                &:hover .fas {
                    opacity: 1;
                    transform: translateY(-50%) scale(1.2);
                }
               
            }
        }
    }
    
}
