@use "../utils/mixins";
@use "../utils/variable.scss";
@use "../utils/colors.scss";
@use "../utils/zoom.scss";



.tuto {
    counter-reset: steps;
    margin-bottom: 2rem;
   & ol {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    @media (max-width: 1000px) {
        flex-direction: column;
      }
   & li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        &::before {
            content: counter(spets);
            counter-increment: section;
            color: white;
            background-color: colors.$purple;
            width: 2 * variable.$tuto-bullet-height; 
            height: 2 * variable.$tuto-bullet-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            bottom:50%;
            justify-content: center;
            left: -1 * variable.$tuto-bullet-height;
            top: 50%;
            transform: translateY(-50%); 
       }
       list-style-type: none;
       background-color: #f6f6f6;
       padding: 1.5rem 2rem; 
       flex-grow: 1;
       border-radius: 1rem;
      @include mixins.base-shadow;
      &:hover {
        @include mixins.transform-zoom;
        background-color: lighten(colors.$purple, 35%);
        i::before {
          color: colors.$purple;
        }
      }
     
      & i.fas {
        margin-right: 1rem;
        color: colors.$lightgrey;
        font-size: 1.5rem;
       }
    }
}
}