@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem;
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin-top: 0;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  padding: 0.3rem;
  margin: 0rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: lightgrey;
  text-align: center;
  padding: 0.5rem;
}

.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 1rem;
}
.explorer button:hover {
  transform: scale 1.02;
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto ol li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 7px -3px #000000;
  transform: scale "1.02";
}
.tuto ol li::before {
  content: counter(spets);
  counter-increment: section;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  justify-content: center;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}
.tuto ol li i .fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  background-color: #f6f6f6;
}
.menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: 1;
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus__cards .new {
  position: relative;
}
.menus__cards .new::before {
  content: "nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card .card__image {
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.menus .card__image-1 {
  background-image: url("./image/menu1.jpg");
}
.menus .card__image-2 {
  background-image: url("./image/menu2.jpg");
}
.menus .card__image-3 {
  background-image: url("./image/menu3.jpg");
}
.menus .card__image-4 {
  background-image: url("./image/menu4.jpg");
}
.menus .card__description {
  position: relative;
}
.menus .card__description h3,
.menus .card__description p {
  margin: 0.5rem;
}
.menus .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
